---
layout: default
---

<!-- about -->
<div class="section">
  <div class="container">
    <h1 class="title">About us</h1>
    <p>
      Do you want to build your own robot? Or an awesome electronics project?
      Then Robotics Club, CITK is the right place for you. This club is created
      to bring out the creativity and imagination of students and to give them
      chance to become familiar with continuously evolving world of robotics.
      Come forward and join us. Seminers, workshops and tutorials along with
      equipments, components and workspace eagerly await you!
    </p>
  </div>
</div>

<hr>

<!-- latest events -->
<div class="section">
  <div class="container">
    <h1 class="title">Latest Events</h1>
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="timeline">
          {% assign sorted-events = site.events | sort:'start-date' | reverse %}
          {% for event in sorted-events limit:3 %}
          <div class="timeline-item is-block">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <p class="heading">
                <span>{{ event.start-date | date: '%b %d, %Y' }}</span>
              </p>

              <a class="box" href="{{ event.url }}"
                style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
                <p class="has-text-weight-semibold">{{ event.title }}</p>
                <p>{{ event.place }}</p>
                <p>{{ event.start-date | date: ' %I:%M %p' }}</p>
              </a>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="has-text-centered">
      <a class="button is-small is-rounded is-primary" href="{{site.baseurl}}/events/">
        <span>View all events</span>
      </a>
    </div>
  </div>
</div>

<hr>

<!-- featured projects -->
<div class="section">
  <div class="container">
    <h1 class="title">Featured Projects</h1>
    <div class="columns is-multiline">
      {% for project in site.projects limit:4 %}
      <div class="column is-half-tablet is-half-desktop">
        <a href="{{ project.url }}" class="box"
          style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
          <p class="has-text-weight-semibold is-capitalized">
            {{ project.title }}
          </p>
          <p class="is-size-7 is-capitalized">
            {{ project.status }}
            {% if project.status == 'completed' %}
            <span class="icon has-text-success"><i class="fa fa-check-circle"></i></span>
            {% else %}
            <span class="icon has-text-link"><i class="fa fa-sync-alt"></i></span>
            {% endif %}
          </p>

          <!-- member avatars -->
          <div class="columns is-mobile is-centered is-variable is-1">
            {% for member-username in project.member-usernames %}
            <!-- to display a number if members > 4 -->
            {% if forloop.index >= 4 and forloop.length > 4 %}
            {% if forloop.last %}
            <div class="column is-narrow">
              <span class="r-circle is-primary">+{{ forloop.length | minus: 3 }}</span>
            </div>
            {% break %}
            {% else %}
            {% continue %}
            {% endif %}
            {% endif %}
            <!-- if project done by robotics club -->
            {% if member-username == 'club' %}
            <div class="column is-narrow">
              <span class="tag is-rounded is-medium">
                <span class="icon"><i class="fa fa-users"></i></span>
                <span class="is-size-7 has-text-weight-semibold">Robotics Club Team</span>
              </span>
            </div>
            {% else %}
            {% assign member = site.members | where:'username',member-username | first %}
            {% if member != null %}
            <div class="column is-narrow">
              <figure class="image is-32x32">
                <img class="is-rounded" src="{{ site.baseurl }}/assets/img/avatars/members/{{ member.avatar }}"
                  title="{{ member.name }}">
              </figure>
            </div>
            {% endif %}
            {% endif %}
            {% endfor %}
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
    <div class="has-text-centered">
      <a class="button is-small is-rounded is-primary" href="{{site.baseurl}}/projects/">
        <span>View all projects</span>
      </a>
    </div>
  </div>
</div>