<!--Footer-->
<footer class="footer">

  <div class="container has-text-centered">

    <div class="columns is-multiline">

      <div class="column is-half">
        <p class="has-text-weight-semibold" style="margin-bottom: 8px">Social</p>
        <div class="buttons is-centered">
          <a class="button is-danger" href="https://youtube.com/channel/UCo7ZitSCcgWNEsQVVzBx41g">
            <span class="icon">
              <i class="fab fa-youtube"></i>
            </span>
            <span>Youtube</span>
          </a>
          <a class="button is-link" href="https://facebook.com/themoderngeeks">
            <span class="icon">
              <i class="fab fa-facebook"></i>
            </span>
            <span>Facebook</span>
          </a>
          <a class="button" href="https://github.com/robotics-club-citk">
            <span class="icon">
              <i class="fab fa-github"></i>
            </span>
            <span>GitHub</span>
          </a>
          <a class="button is-danger" href="mailto:roboticsclub@cit.ac.in">
            <span class="icon">
              <i class="fa fa-envelope"></i>
            </span>
            <span>Mail</span>
          </a>
        </div>
      </div>

      <div class="column is-half">
        <p class="has-text-weight-semibold" style="margin-bottom: 8px">Links</p>
        <p class="">
          <a href="#" class="has-text-grey">Website management</a>
        </p>
        <p class="">
          <a href="https://cit.ac.in" class="has-text-grey">CITK official site</a>
        </p>
      </div>

    </div>

    <hr>
    <p class="is-size-7">Copyright © 2019 Robotics Club, Central Institute of Technology Kokrajhar</p>
  </div>
</footer>