<!--Navbar-->
<nav class="navbar has-shadow is-spaced" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="{{ site.baseurl }}/">
      <img alt="logo" src="{{ site.baseurl }}/assets/img/icon/logon.jpeg" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false"
      data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-end">
      <a class="navbar-item" href="{{site.baseurl}}/projects/">
        <span class="icon has-text-success">
          <i class="fas fa-code"></i>
        </span>
        <span>
          Projects
        </span>
      </a>

      <a class="navbar-item" href="{{site.baseurl}}/components/">
        <span class="icon has-text-primary">
          <i class="fas fa-microchip"></i>
        </span>
        <span>
          Components
        </span>
      </a>

      <a class="navbar-item" href="{{site.baseurl}}/events/">
        <span class="icon has-text-danger">
          <i class="fas fa-calendar-day"></i>
        </span>
        <span>
          Events
        </span>
      </a>

      <a class="navbar-item" href="{{site.baseurl}}/members/">
        <span class="icon has-text-link">
          <i class="fas fa-users"></i>
        </span>
        <span>
          Members
        </span>
      </a>

      <a class="navbar-item" href="{{site.baseurl}}/gallery/">
        <span class="icon has-text-warning">
          <i class="fas fa-images"></i>
        </span>
        <span>
          Gallery
        </span>
      </a>

      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          More
        </a>

        <div class="navbar-dropdown is-right">
          <a class="navbar-item" href="{{site.baseurl}}/about/">
            <span class="icon has-text-link">
              <i class="fas fa-info-circle"></i>
            </span>
            <span>
              About
            </span>
          </a>
          <a class="navbar-item" href="{{site.baseurl}}/registration/">
            <span class="icon has-text-success">
              <i class="fas fa-user-plus"></i>
            </span>
            <span>
              Registration
            </span>
          </a>
          <hr class="navbar-divider">
          <a class="navbar-item" href="{{site.baseurl}}/adviser/">
            <span class="icon has-text-danger">
              <i class="fas fa-users"></i>
            </span>
            <span>
              Adviser
            </span>
          </a>
          <a class="navbar-item" href="{{site.baseurl}}/feedback/">
            <span class="icon has-text-primary">
              <i class="fas fa-comment"></i>
            </span>
            <span>
              Feedback
            </span>
          </a>
          <a class="navbar-item" href="{{site.baseurl}}/contact/">
            <span class="icon has-text-danger">
              <i class="fas fa-envelope"></i>
            </span>
            <span>
              Contact Us
            </span>
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
