---
---

.r-avatar {
  margin: 0px auto;
}

.r-avatar img {
  box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

.r-profile-btn {
  box-shadow: 0px 8px 15px rgba(33, 226, 226, 0.2);
}

.r-role, .r-name {
  margin-top: 8px;
  margin-bottom: 8px;
}

.r-user-attribute {
  font-size: 12px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.r-list-item:hover {
  background-color: rgba(0, 0, 0, 0.05)
}

.r-circle {
  display: block;
  height: 32px;
  width: 32px;
  line-height: 32px;
  -moz-border-radius: 16px; /* or 50% */
  border-radius: 16px; /* or 50% */
  background-color: rgb(173, 65, 65);
  color: white;
  text-align: center;
  font-size: 1em;
}