---
layout: default
---

<!--title & subtitle-->
<div class="section">
  <div class="container">
    <h1 class="title">{{ page.title }}</h1>
    <h3 class="subtitle">{{ page.description }}</h3>
  </div>
</div>

<!--event Details-->
<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <ul class="list">

          <li class="list-item r-hover">
            <div class="columns is-mobile is-vcentered">
              <div class="column is-narrow">
                <span class="icon has-text-danger is-medium">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
              <div class="column is-narrow">
                <p class="is-size-7 is-capitalized">Start Date</p>
                <p class="has-text-weight-semibold">{{ page.start-date | date: '%A, %b %d, %Y' }}</p>
              </div>
            </div>
          </li>

          <li class="list-item r-hover">
            <div class="columns is-mobile is-vcentered">
              <div class="column is-narrow">
                <span class="icon has-text-link is-medium">
                  <i class="fa fa-clock"></i>
                </span>
              </div>
              <div class="column is-narrow">
                <p class="is-size-7 is-capitalized">Start time</p>
                <p class="has-text-weight-semibold">{{ page.start-date | date: '%I : %M %p' }}</p>
              </div>
            </div>
          </li>

          <li class="list-item r-hover">
            <div class="columns is-mobile is-vcentered">
              <div class="column is-narrow">
                <span class="icon has-text-success is-medium">
                  <i class="fa fa-map-marker-alt"></i>
                </span>
              </div>
              <div class="column is-narrow">
                <p class="is-size-7 is-capitalized">Venue</p>
                <p class="has-text-weight-semibold">{{ page.place }}</p>
              </div>
            </div>
          </li>

        </ul>
      </div>
    </div>

    <hr>

    <!-- Image gallery -->
    {% if page.images %}
    <h3 class="has-text-weight-semibold is-size-5" style="margin-bottom:16px">Event images</h3>
    {% include gallery.html %}
    <hr>
    {% endif %}

    <!--Youtube Video-->
    {% if page.youtube-video %}
    <h3 class="has-text-weight-semibold is-size-5" style="margin-bottom:16px">Event video</h3>
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="r-video-container box">
          {{ page.youtube-video }}
        </div>
      </div>
    </div>
    <hr>
    {% endif %}

  </div>
</section>

{{ content }}