---
layout: default
---

<!--title & subtitle-->
<div class="section">
  <div class="container">
    <h1 class="title">Events</h1>
    <h3 class="subtitle">Robotics Club CIT Kokrajhar</h3>
  </div>
</div>

<!-- timeline -->
<div class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-two-thirds">
        <div class="timeline">
          {% assign sorted-events = site.events | sort:'start-date' | reverse %}
          {% for event in sorted-events %}
          <div class="timeline-item is-block">
            <div class="timeline-marker"></div>
            <div class="timeline-content">
              <p class="heading event-date">
                <span>{{ event.start-date | date: '%b %d, %Y' }}</span>
              </p>

              <a class="box" href="{{ event.url }}"
                style="background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);">
                <p class="has-text-weight-semibold">{{ event.title }}</p>
                <p>{{ event.place }}</p>
                <p>{{ event.start-date | date: ' %I:%M %p' }}</p>
              </a>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>

<script src="{{ site.baseurl }}/assets/js/date-utility.js"></script>
<script>
  document.querySelectorAll('.event-date').forEach(function (node) {
    var eventDate = dates.convert(node.firstElementChild.innerHTML);
    if (dates.compare(eventDate, new Date()) >= 0)
      node.insertAdjacentHTML('beforeend', '<span class="icon has-text-danger"><i class="fa fa-certificate"></i></span><span class="has-text-danger">Upcoming</span>');
  });
</script>