---
layout: default
---

<!--title & links-->
<div class="section">
  <div class="container">
    <h1 class="title">Members</h1>
    <h3 class="subtitle">Robotics Club CIT Kokrajhar</h3>
    <div class="top-links field is-grouped">
      <p class="control">
        <a class="button is-primary" href="#faculty">
          FACULTY
        </a>
      </p>
      <p class="control">
        <a class="button is-link" href="#convenor">
          CONVENOR
        </a>
      </p>
      <p class="control">
        <a class="button is-danger" href="#coordinator">
          COORDINATOR
        </a>
      </p>
      <p class="control">
        <a class="button is-secondary" href="#members">
          MEMBERS
        </a>
      </p>
    </div>
  </div>
</div>

<!--member cards-->
<div class="section">
  <div class="container">

    {% assign members = site.members | where:'type','FACULTY' | sort: 'priority' | reverse %}
    <h1 class="title" id="faculty">FACULTY</h1>
    <div class="columns is-multiline">
      {% for member in members %}
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="{{ member.url }}">
          <figure class="r-avatar image is-96x96">
            <img alt="Image of {{ member.name }}" class="is-rounded"
              src="{{ site.baseurl }}/assets/img/avatars/members/{{ member.avatar }}">
          </figure>
          <p class="r-name has-text-weight-semibold is-capitalized">{{ member.name }}</p>
          <p class="r-role"><span class="tag is-rounded is-primary">{{ member.role }}</span></p>
        </a>
      </div>
      {% endfor %}
    </div>

    <hr>

    {% assign members = site.members | where:'type','convenor' | sort: 'priority' | reverse %}
    <h1 class="title" id="core-members">CONVENOR</h1>
    <div class="columns is-multiline">
      {% for member in members %}
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="{{ member.url }}">
          <figure class="r-avatar image is-96x96">
            <img alt="Image of {{ member.name }}" class="is-rounded"
              src="{{ site.baseurl }}/assets/img/avatars/members/{{ member.avatar }}">
          </figure>
          <p class="r-name has-text-weight-semibold is-capitalized">{{ member.name }}</p>
          <p class="r-role"><span class="tag is-link is-rounded">{{ member.role }}</span></p>
        </a>
      </div>
      {% endfor %}
    </div>

    <hr>

    {% assign members = site.members | where:'type','COORDINATOR' | sort: 'priority' | reverse %}
    <h1 class="title" id="members">COORDINATOR</h1>
    <div class="columns is-multiline">
      {% for member in members %}
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="{{ member.url }}">
          <figure class="r-avatar image is-96x96">
            <img alt="Image of {{ member.name }}" class="is-rounded"
              src="{{ site.baseurl }}/assets/img/avatars/members/{{ member.avatar }}">
          </figure>
          <p class="r-name has-text-weight-semibold is-capitalized">{{ member.name }}</p>
          <p class="r-role"><span class="tag is-rounded is-danger">{{ member.role }}</span></p>
        </a>
      </div>
      {% endfor %}
    </div>
    <hr>

    {% assign members = site.members | where:'type','member' | sort: 'priority' | reverse %}
    <h1 class="title" id="members">MEMBERS</h1>
    <div class="columns is-multiline">
      {% for member in members %}
      <div class="column is-one-quarter-tablet is-one-fifth-desktop">
        <a class="box has-text-centered" href="{{ member.url }}">
          <figure class="r-avatar image is-96x96">
            <img alt="Image of {{ member.name }}" class="is-rounded"
              src="{{ site.baseurl }}/assets/img/avatars/members/{{ member.avatar }}">
          </figure>
          <p class="r-name has-text-weight-semibold is-capitalized">{{ member.name }}</p>
          <p class="r-role"><span class="tag is-rounded is-danger">{{ member.role }}</span></p>
        </a>
      </div>
      {% endfor %}
    </div>

  </div>
</div>

{{ content }}
